header {
  padding: 20px;
  display: flex;
  justify-content: space-between;

  .title {
    font-family: fantasy;
    font-weight: 400;

    a {
      color: $main-color;
      font-size: 48px;
    }
  }

  .menu {
    align-self: flex-start;

    ul {
      display: inline-block;
      padding-right: 25px;

      li {
        display: inline-block;
        margin-right: 15px;
        @include underline-from-center;

        a {
          color: $main-color;
          font-size: 18px;
        }
      }
    }
  }
}

@include max-screen() {
  header {
    .title,
    .menu {
      display: none;
    }
    padding: 50px 0 0;
    text-align: center;
  }
}
