main {
  clear: both;

  .content {
    padding: 0 20px;
  }

  .posts {
    margin-bottom: 20px;
    border-bottom: 1px solid $border-color;
  }

  .read-more a {
    color: $link-color;
    font-family: $font-family;
    font-size: 0.9rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .about,
  .post {
    padding: 1.5rem 0;

    .post-title {
      font-family: $font-family;

      a {
        color: $link-color;
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 400;
    }

    code {
      padding: 3px 5px;
      border-radius: 4px;
      color: $code-color;
      background: $secondary-color;
    }

    p > a,
    li > a,
    th > a,
    td > a,
    pre > a,
    code > a {
      color: $main-color;
      border-bottom: 1px dashed $main-color;

      &:hover {
        border-bottom: 1px solid $main-color;
      }
    }

    blockquote {
      margin: 2em 0;
      padding: 10px 20px;
      position: relative;
      color: rgba($link-color, 0.8);
      background-color: $bq-bg-color;
      border-left: 3px solid $bq-border-left-color;
      box-shadow: 1px 1px 2px $box-shadow-color;

      p {
        margin: 0;
      }
    }

    table {
      width: 100%;
      max-width: 100%;
      margin: 10px 0;
      border-spacing: 0;
      box-shadow: 2px 2px 3px $box-shadow-color;

      thead {
        background: $secondary-color;
      }

      th,
      td {
        padding: 5px 15px;
        border: 1px double darken($secondary-color, 3%);
      }

      tr:hover {
        background-color: $secondary-color;
      }
    }

    .footnote-definition {
      padding-left: 40px;

      &:first-of-type {
        border-top: 2px dashed $main-color;
        margin-top: 1rem;
        padding-top: 1rem;
      }

      sup {
        &.footnote-definition-label {
          font-size: 100%;
          position: unset;
          top: unset;

          &::after {
            content: ".";
          }
        }
      }

      p {
        display: inline;
      }
    }

    &-title {
      margin: 0;
      font-size: 26px;
      font-weight: 400;

      @include underline-from-center;
    }

    &-content {
      overflow: auto;
    }

    &-category {
      display: inline;

      a {
        color: inherit;

        &:before {
          content: "\B7";
          padding-right: 2px;
        }

        &:hover {
          color: $main-color;
        }
      }
    }

    &-meta {
      font-size: 14px;
      color: #8a8a8a;
    }

    &-summary {
      margin-bottom: 1rem;
    }
  }

  .post-footer {
    margin-top: 20px;
    border-top: 1px solid $border-color;

    &:after {
      clear: both;
      height: 0;
      width: 100%;
      content: "";
      display: block;
    }
  }

  .post-tags {
    padding: 15px 0;

    a {
      margin-right: 5px;
      color: $main-color;
      word-break: break-all;
    }
  }

  .post-nav {
    margin: 1rem 0;
  }

  .post + .post {
    border-top: 1px solid $border-color;
  }

  .post-before-footer {
    font-size: 0.8em;
    margin: 20px 0;
    a {
      color: $main-color;
      border-bottom: 1px dashed $main-color;

      &:hover {
        border-bottom: 1px solid $main-color;
      }
    }
  }

  .pagination {
    clear: both;
    font-family: $font-family;
    margin: 2rem 0;

    a {
      color: $link-color;
    }
  }
}

.next,
.previous {
  font-size: 20px;
  transition: transform 0.3s ease-out;

  &:hover {
    color: $main-color;
  }
}

.next {
  float: right;
  &:hover {
    transform: translateX(4px);
  }
}

.previous {
  float: left;
  &:hover {
    transform: translateX(-4px);
  }
}

.taxonomies {
  margin: 2em 0 3em;
  text-align: center;

  &-title {
    display: inline-block;
    font-size: 18px;
    color: $main-color;
    border-bottom: 2px solid $main-color;
  }

  &-items {
    margin: 10px 50px;

    a {
      margin: 5px 10px;
      word-wrap: break-word;
      position: relative;
      align-items: center;
      display: flex;
      justify-content: center;

      &:hover {
        color: $main-color;
      }

      .dots {
        border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
        flex: 1;
        margin: 0 4px;
      }

      .count {
        color: $main-color;
      }
    }
  }
}

.taxonomy {
  margin: 2em 0;

  &-item {
    padding: 3px 20px;
    border-left: 1px solid #cacaca;
    transition: 0.2s ease-out;

    &:hover {
      border-left: 3px solid $main-color;
      transform: translateX(4px);
    }

    &-time {
      margin-right: 10px;
      color: #8a8a8a;
    }

    &-title a {
      color: $main-color;
    }
  }
}

.about {
  p > a {
    color: $main-color;
    word-break: break-all;

    &:hover {
      border-bottom: 1px solid $main-color;
    }
  }
}

.gradient {
  height: 2px;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.page-footer {
  text-align: center;
  font-size: 0.8em;
  color: gray;
}
