{% extends "index.html" %}

{% block title %}
{{ config.title }} - {{ page.title }}
{% endblock title %}

{% block content %}
{% if page.toc %}
<div class="toc">
    <h2 class="toc-title">Contents</h2>
    <div class="toc-content always-active">
        <ul>
            {% for h1 in page.toc %}
            <li>
                <a href="{{ h1.permalink | safe }}" class="toc-link">{{ h1.title }}</a>
                {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                    <li>
                        <a href="{{ h2.permalink | safe }}" class="toc-link">{{ h2.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<article class="post">
    <div class="post-title">
        <a href="{{ page.permalink }}">{{ page.title }}</a>
    </div>
    <div class="post-meta">
        <span class="post-time">
            📅 {{ page.date | date(format="%F") }}
        </span>
        <span class="post-reading-time">
            ⌛ {{ page.reading_time }} min
        </span>
        {% if page.taxonomies.categories %}
        <div class="post-category">
            {% for category in page.taxonomies.categories %}
            <a href="{{ get_taxonomy_url(kind="categories", name=category) }}">
                {{ category }}
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="post-content">
        {{ page.content | safe }}
    </div>

    {% block page_before_footer %}
    {% endblock page_before_footer %}

    <div class="post-footer">
        {% block page_footer %}
            {% if page.earlier or page.later or page.lighter or page.heavier %}
            <div class="post-nav">
                {% if page.earlier %}
                <a class="previous" href="{{ page.earlier.permalink }}">‹ {{ page.earlier.title }}</a>
                {% endif %}
                {% if page.later %}
                <a class="next" href="{{ page.later.permalink }}">{{ page.later.title }} ›</a>
                {% endif %}
                {% if page.lighter %}
                <a class="previous" href="{{ page.lighter.permalink }}">‹ {{ page.lighter.title }}</a>
                {% endif %}
                {% if page.heavier %}
                <a class="next" href="{{ page.heavier.permalink }}">{{ page.heavier.title }} ›</a>
                {% endif %}
            </div>
            {% endif %}
        {% endblock page_footer %}
    </div>
</article>
{% endblock content %}
